@model alısveristakip.Models.entity.urun
@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Urun", FormMethod.Post))
{
<div class="form-group">
    @Html.LabelFor(m => m.Urun_ID)
    @Html.TextBoxFor(m => m.Urun_ID, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.UrunAd)
    @Html.TextBoxFor(m => m.UrunAd, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.UrunKategori)
    @Html.DropDownListFor(m=>m.kategori.KategoriID,(List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    @*@Html.TextBoxFor(m => m.UrunKategori, new { @class = "form-control" })*@
    <br />
    @Html.LabelFor(m => m.Fiyat)
    @Html.TextBoxFor(m => m.Fiyat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.Marka)
    @Html.TextBoxFor(m => m.Marka, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.Stok)
    @Html.TextBoxFor(m => m.Stok, new { @class = "form-control" })
</div>
    <div>
        <button class="btn btn-warning">Ürün Güncelle</button>
    </div>
}

